/* font-family: "Poiret One", serif; */

@font-face {
  src: url(../fonts/Segoe-UI.ttf);
  font-family: Segoe-UI !important;
}
/* common code start  */
body {
  overflow-x: hidden;
}
.text-primary {
  color: #00d2d4 !important;
}
.text-secondary {
  color: #f54785 !important;
}
.font-poiret {
  font-family: "Poiret One", serif !important;
}
.font-segoe {
  font-family: Segoe-UI !important;
}
/* common code start  */

/* ========= navbar start ============  */
.navbar .nav-item .nav-link {
  color: #464646 !important;
}
.navbar .navbar-brand {
  letter-spacing: 5px;
}
.navbar .nav-item {
  position: relative;
  margin: 0 5px;
}
.navbar .nav-item .nav-link.active {
  color: #f54785 !important;
}
.navbar .nav-item .nav-link:hover {
  color: #f54785 !important;
}
.navbar .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #f54785 !important;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbar .nav-item .nav-link:hover::after {
  width: 100%;
}
.navbar .nav-item .nav-link.active::after {
  width: 100%;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  border: 1px solid #00d2d4 !important;
}
.navbar .navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}
/* ========= navbar end ============  */

/* ========= banner section start ============  */
.banner-section {
  background: url(../images/p1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-height: 900px;
  min-height: 450px;
  display: flex;
  align-items: center;
}
.banner-section #carouselExampleCaptions {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-section .carousel-indicators {
  left: 35%;
  bottom: 3%;
}
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #fff !important;
  border-radius: 50% !important;
  background-color: transparent !important;
}
.carousel-indicators button.active {
  background-color: #f54785 !important;
  border: 2px solid #f54785 !important;
}
.banner-section .carousel-control-prev {
  left: -2%;
}
/* ========= banner section end ============  */

/* ========= about section start ============  */
.about-section .about-image {
  background: url(../images/b1.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
.about-section .about-image .rotate {
  z-index: 555;
  position: relative;
}
.about-section .about-image .rotate a {
  transform: scale(0) rotate(-45deg);
  position: relative;
  padding: 35px 5px;
  display: inline-block;
  font-weight: bold;
  z-index: 5;
  transition: 0.5s;
}
.about-section .about-image:hover .rotate > a {
  transform: scale(1) rotate(0);
}
.about-section .about-image .rotate a::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  z-index: -2;
}

.about-section .about-layer {
  width: 120px;
  height: 120px;
  background-color: rgb(1, 210, 212);
  position: absolute;
  transition: 0.5s;
}

.about-section .about-layer1::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-left: 7.5em solid rgba(34, 34, 34, 0.25);
  border-bottom: 7.5em solid transparent;
  z-index: 1;
}
.about-section .about-layer1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-right: 7.5em solid rgba(247, 247, 247, 0.25);
  border-bottom: 7.5em solid transparent;
}
.about-section .about-layer2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-left: 7.5em solid rgba(34, 34, 34, 0.25);
  border-top: 7.5em solid transparent;
}
.about-section .about-layer2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-right: 7.5em solid rgba(247, 247, 247, 0.25);
  border-top: 7.5em solid transparent;
}
.about-section .about-layer3::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-left: 7.5em solid rgba(247, 247, 247, 0.25);
  border-top: 7.5em solid transparent;
}
.about-section .about-layer3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-right: 7.5em solid rgba(34, 34, 34, 0.25);
  border-top: 7.5em solid transparent;
}
.about-section .about-layer4::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-left: 7.5em solid rgba(247, 247, 247, 0.25);
  border-bottom: 7.5em solid transparent;
  z-index: 1;
}
.about-section .about-layer4::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-right: 7.5em solid rgba(34, 34, 34, 0.25);
  border-bottom: 7.5em solid transparent;
}

.about-layer1 {
  left: 536px;
  top: 314px;
}
.about-layer2 {
  left: 509px;
  top: -374px;
}
.about-layer3 {
  left: -509px;
  top: -374px;
}
.about-layer4 {
  left: -509px;
  top: 380px;
}
.about-section .about-image:hover .about-layer1 {
  left: 44px;
  top: 48px;
}
.about-section .about-image:hover .about-layer2 {
  left: 44px;
  top: -70px;
}
.about-section .about-image:hover .about-layer3 {
  left: -76px;
  top: -70px;
}
.about-section .about-image:hover .about-layer4 {
  left: -76px;
  top: 48px;
}

/* ========= About section end ============  */

/* ========= service section start ============  */
.service-section .service-icon:hover {
  border: 1px solid #f54785 !important;
}
.service-section .service-image {
  position: relative;
  overflow: hidden;
}
.service-section .service-layer {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: 0.5s;
}
.service-section .layer-1 {
  top: -100%;
  right: -100%;
}
.service-section .layer-2 {
  bottom: -100%;
  left: -100%;
}
.service-section .service-image:hover .layer-1 {
  top: 0;
  right: 0;
}
.service-section .service-image:hover .layer-2 {
  bottom: 0;
  left: 0;
}
/* ========= service section end ============  */
